@import "css/slider";

$slider-height: 1.25em;
$slider-width: 10em;
$thumb-height: $slider-height * 1.4;

@include slider($width: $slider-width, $height: $slider-height) {
	background:#fcfcfc;
	box-shadow: inset 1px 1px 1px 1px #ddd;
	border-radius: 1.5em;
	padding: 0 ($slider-height / 3);
}

@include slider-track($height: $slider-height / 3) {
	background: #ccc;
	box-shadow: inset 1px 1px 1px 1px #999;
	border-radius: 1.5em - ($slider-height / 2);
}

@include slider-thumb($width: 1.5em, $height: $thumb-height) {
	background: #ccc;
	border-radius: .5em;
	box-shadow: inset 2px 2px #eee,
		inset -2px -2px #999;
	border:0;
	margin-top: -1 * (($slider-height / 3) + ($thumb-height - $slider-height) / 2);	
}	


